.WorkflowContainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 14px;
  display: flex;
}

.StepGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 220px;
}

.dragPanel {
  display: flex;
  margin: 3rem 0 1rem 0;
}

.newStep {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px 0;
  margin-right: 8px;
  width: 40px;
  background-color: darkgrey;
  border-radius: 4px;
  color: white;
  height: unset;
  pointer-events: unset;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}